.delete-genre {
    color: red;
}
tr {
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}
th {
    background-color: #4CAF50;
    color: white;
}

.table-custom{
    background-color: #c6ffb9;
}