tr {
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}
th {
    background-color: #917d5a;
    color: white;
}

.table-custom{
    background-color: #cfc4b0;
}

.update-genre {
    margin-right: 10px;
}

tr td:first-child {
    font-weight: bold;
}