tr {
    border-color: black;
    border-width: 1px;
    border-style: dotted;
}
th {
    background-color: #917d5a;
    color: white;
}
table{
    background-color: #cfc4b0;
}

.update-actor {
    margin-right: 10px;
}

.my-class {
    font-weight: bold;
}

tr td:first-child {
    font-weight: bold;
}

tr td {
    height: 40px;
}
.update-movie {
    margin-right: 10px;
}

.login-container {
    padding-left: 100px;    
    padding-right: 100px;
}

.upload {
    background-color: #36a784;
    border-color: #006c4b;
    width: 200px;
}

.movie-new {
    padding-top: 15px;
}

.btn-time {
    background-color: #00b1d0;
    color: white;
}

h3 {
    color: #ae9d7e;
}

.login-container {
    color: wheat;
}
    
.col-lg-10 {
    background:rgba(0,0,0,0.3);
}

.pull-right {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.movie-form{
    margin-left: 5%;
}